
.cart-footer {
   display: grid ;
   grid-template-columns: 5fr 3fr 4fr ;
   column-gap: 30px;

   background-color: #EAEFF2;
   padding: 19px 0;

   font-weight: 700;
   font-size: 18px;
   line-height: 1.2;

   @media(max-width: 600px){
      grid-template-columns: 1fr 1fr;
      padding-left: 15px;
      padding-right: 15px;
   }

   @media(max-width: 400px){
      grid-template-columns: 1fr;
      row-gap: 10px;
      column-gap: 10px;
   }
}

.cart-footer__count {
   grid-column: 2;

   @media(max-width: 600px){
      grid-column: 1;
   }
}

